<!-- The Angular 2 AppComponent component defined in
     wwwrootsrc/js/app/app.component.ts is configured
		 to select this main element upon which the component
		 will be applied and rendered -->
<main class='container-fluid'></main>